<h1>
  Add a new bookmark
</h1>


<hr>

<form action="/create_bookmark" method="post">

  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <!--the code below is essentially a loop for the drop down menu -->
    <%= select_tag(:movie_id, 
      options_from_collection_for_select(
        #the array of things we want options for
        Movie.all, 
        #the thing we want as the value of the <option>
        :id,
        #what do you want the user to see
        :title,
        #what value do you want to preselect, optional -- usually prepopulate with existing value if editing, i.e. @bookmark.movie_id
        ),
        #add HTML class attribute
      :class => "form-control"
      )
    %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
